.table {
    display: grid;
    gap: 2%;
    grid-template-areas: ". top ." "left center right" " . bottom .";
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
}

.player {
    border: 1px solid black;
}

.left {
    grid-area: left;
    writing-mode: sideways-rl;
}

.top {
    grid-area: top;
    transform: rotate(180deg);
}

.right {
    grid-area: right;
    writing-mode: sideways-lr;
}

.bottom {
    grid-area: bottom;
}

.center {
    grid-area: center;
    border: 1px solid green;

    display: grid;
    grid-template-areas: ". top ." "left . right" " . bottom .";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}